[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"
argon2-cffi-bindings = "*"
asgiref = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
Django = "*"
django-filter = "*"
django-phonenumber-field = "*"
django-rest-framework = "*"
djangorestframework = "*"
idna = "*"
importlib-metadata = "*"
Markdown = "*"
phonenumberslite = "*"
Pillow = "*"
pycparser = "*"
pytz = "*"
requests = "*"
sqlparse = "*"
tzdata = "*"
urllib3 = "*"
zipp = "*"


[dev-packages]

[requires]
python_version = "3.9"
